* {
    font-family: "Roboto Condensed", sans-serif;
  }
  body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100vw;
  }
  .flexContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;
    background-color: #f3f4f5;
    /* border: 2px solid #000; */
  }
  .upper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1243e4;
    width: 100%;
    height: 10%;
    /* padding: 20px; */
  }
  .dataTable {
    display: flex;
    color: #9a9a9f;
  }
  .simpleDataTable {
    display: flex;
    font-size: 40px;
  }
  .lower {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 30px 0;
    width: 100%;
    height: 100%;
  }
  .tableHeader {
    display: flex;
    justify-content: space-between;
    /* width: 70%; */
    margin: 0 50px 0 50px;
    background-color: #ffffff;
  }
  .tableLogo {
    display: flex;
    justify-content: space-between;
    width: 10%;
  }
  .tableHead {
    display: flex;
    padding: 0 50px 50px 50px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    padding: 50px;
    background-color: #ffffff;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }